.benefits__list {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-gap: 30px 30px;
    list-style-type: none;

    @include tablet {
        grid-template-columns: 360px 360px;
        grid-gap: 5px 5px;
    }

    @include mobile {
        grid-template-columns: 360px;
        grid-gap: 0px 0px;
    }
}

.benefits__item {
    min-height: 51px;
    width: 315px;
}

.benefits__heading {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 25px;
}

.benefits__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    margin-top: 13px;
}

.benefits__heading--pink {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: $pink-dark-color;
    margin-top: 18px;
}