.joinnow__button {
    background-color: $pink-dark-color;
    height: 50px;
    width: 167px;
    margin-top: 39px;
    margin-bottom: 96px;
    text-align: center;
    border: 0;
    position: relative;

    @include mobile {
        margin-left: 50px;
    }
}

.joinnow__button::after{
    content: '';
    width: 15px;
    height: 2px;
    background: url(../../img/rightarrow.png);
    background-size: cover;
}

.joinnow__button--text {
    height: 17px;
    width: 72px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: $white-color;
    padding-left: 29px;
}